<div class="container">
  <!-- Exercice 1 -->
  <!-- Utiliser la variable title pour afficher : "Le titre du site est Escape" -->
  <h3>Exercice 1</h3>
  <p>
    Le titre du site est :
  </p>

  <!-- Exercice 2 -->
  <!-- Utiliser la variable user pour afficher "Je m'appelle Jean Valjean" -->
  <h3>Exercice 2</h3>
  <p>
    ...
  </p>

  <!-- Exercice 3 -->
  <!-- Utiliser la variable website du .ts pour créer un lien qui redirige vers l'url de website
  avec pour ancre le nom de website -->
  <h3>Exercice 3</h3>
  <p>
    
  </p>

  <!-- Exercice 4 -->
  <!-- Lorsqu'on clique sur le bouton suivant afficher une alerte "Bouton cliqué" -->
  <h3>Exercice 4</h3>
  <p>
    <button>Le bouton</button>
  </p>

  <!-- Exercice 5 -->
  <!-- Afficher dans la console du navigateur la value de l'input à chaque fois qu'on écrit dans cet input -->
  <h3>Exercice 5</h3>
  <p>
    <input type="text">
  </p>

  <!-- Exercice 6 -->
  <!-- Utiliser les deux boutons de telle sorte que lorsqu'on appui sur l'un il se désactive mais active l'autre
  et lorsqu'on appuie sur l'autre c'est l'inverse
  Au début le premier est activé et le deuxième est désactivé -->
  <h3>Exercice 6</h3>
  <p>
    <button>Bouton 1</button>
    <button>Bouton 2</button>
  </p>

  <!-- Exercice 7 -->
  <!-- Créer un champ input et un bouton à côté.
  Le bouton doit être désactivé lorsque l'input est vide
  Utiliser ngModel -->
  <h3>Exercice 7</h3>
  <p>

  </p>

  <!-- Exercice 8 -->
  <!-- En utilisant la variable framework du .ts, afficher une image cliquable qui redirige vers le site d'Angular
  avec pour balise alt le name du framework -->
  <h3>Exercice 8</h3>
  <p>
    
  </p>

  <!-- Exercice 9 -->
  <!-- En utilisant ngModel, afficher dans la console du navigateur le prénom et le nom lors d'un clic sur valider -->
  <h3>Exercice 9</h3>
  <div>
    <div>
      Prénom :<input type="text">
    </div>
    <div>
      Nom :<input type="text">
    </div>
    <div>
      <button>Valider</button>
    </div>
  </div>
</div>